<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getBirthYear()}">VALUE</p>

<div th:if="${borrowedBooks.isEmpty()}">
    <p>The person hasn't borrowed any books yet</p>
</div>
<div th:if="${!borrowedBooks.isEmpty()}">
    <br/>
    <hr/>
    <p>Books:</p>
    <div  th:each="book : ${borrowedBooks}">
        <p th:style="${book.isExpired()}?'color:red':'color:black'" th:if="${book}" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getPublishingYear()}">borrowed book</p>
    </div>
</div>

<br/>
<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>