<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>
    <form th:method="GET" th:action="@{/books/search}" >
        <label for="query">Enter search query: </label>
        <input type="text" th:name="query" id="query"/>
        <!--<div style="color:red" th:if="${#fields.hasErrors('publishingYear')}" th:errors="*{publishingYear}">Search query error</div>-->
        <br/>
        <input type="submit" value="Search!">
    </form>

    <div th:if="${books.size() == 0}">
        <p>No such books</p>
    </div>
    <div th:if="${books.size() > 0}">
        <br/>
        <div  th:each="book : ${books}">
            <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getPublishingYear()}">Found book</p>
            <div th:if="${book.getOwner() != null}">
                <p th:text="${book.getOwner().getFullName() + ', ' + book.getOwner().getBirthYear()}">VALUE</p>
            </div>
            <div th:if="${book.getOwner() == null}">
                <p>The book is available</p>
            </div>
        </div>
        <br/>
        <hr/>
    </div>
</body>
</html>