<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book page</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getPublishingYear()}">VALUE</p>

<div th:if="${book.getPersonId() == 0}">
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">  <!--POST possible-->
        <p>This book is available</p>
        <label for="personList">Choose person for assignment:</label>
        <select th:object="${person}" th:field="*{id}" id="personList">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
        </select>

        <input type="submit" value="Assign book">
    </form>
</div>
<div th:if="${book.getPersonId() > 0}">
    <form th:method="PATCH" th:action="@{/books/{id}/free(id=${book.getId()})}">  <!--POST possible-->
        <label for="assignedPerson">The book assigned to: </label>
        <p th:text="${assignedPerson.getName()}" id="assignedPerson">VALUE</p>

        <input type="submit" value="Free book">
    </form>
</div>

<br/>
<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<!--<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>-->

<br/>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>